@font-face {
    font-family: "Digital";
    src: url("../assets/fonts/digital-7.regular.ttf");
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    background-image: url("../assets/images/background.webp");
    background-size: cover;
    background-position: center;
}

.calculator {
    background-color: #242424;
    padding: 20px;
    border-radius: 10px;
    width: 320px;
}

.display {
    color: #b89678;
    background-color: #343434;
    text-align: right;
    border-radius: 2.5px;
    font-family: "Digital";
    font-size: 62.5px;
    margin-bottom: 20px;
    padding: 0 5px;
    word-break: break-all;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 60px);
    gap: 10px;
    padding-bottom: 3px;
}

.btn {
    font-size: 24px;
    font-weight: 500px;
    color: #b89678;
    background-color: #151515;
    box-shadow: 0 3px #040404;
    border: solid 1px #040404;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.05s, box-shadow 0.05s;
}

.btn:hover {
    background-color: #343434;
}

.btn:active {
    transform: translateY(2px);
    box-shadow: 0 1px #040404;
}

.operator-active {
    background-color: #343434;
    transform: translateY(3px);
    box-shadow: none;
    transition: none;
}

.operator-active:hover {
    background-color: #343434;
}

#plus {
    grid-row: span 2;
}

.sqrt-icon {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.divide-icon {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

.multiply-icon {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}