@font-face {
    font-family: "Digital";
    src: url("../assets/fonts/digital-7.regular.ttf");
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    background-color: #e0e0e0;
}

.calculator {
    background-color: #252429;
    padding: 20px;
    border-radius: 10px;
    width: 320px;
    border: 1px solid #ccc;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.display {
    color: #11100f;
    background-color: #9fafb1;
    text-align: right;
    border-radius: 5px;
    font-family: "Digital";
    font-size: 62.5px;
    margin-bottom: 20px;
    padding: 0 5px;
    word-break: break-all;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 60px);
    gap: 10px;
    padding-bottom: 3px;
}

.btn {
    font-size: 24px;
    font-weight: 500px;
    color: #c3cbd4;
    background-color: #1e2024;
    box-shadow: 0 3px #040404;
    border: solid 1px #040404;
    border-radius: 5px;
    cursor: pointer;
}

#plus {
    grid-row: span 2;
}

.sqrt-icon {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.divide-icon {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

.multiply-icon {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}